*{
    margin:0;
    padding:0;
}

body{
    background-color: #f2f2f2;
}

.header {
        min-height: 100vh;
        width:100%;
        background-image: url("cover.png"); 
        background-position:center;
        background-size:cover;
        position:relative;
        opacity: 0.8;
}

nav {
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-style:crimson text;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#091c12 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width:90%;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin:10px 0 40px;
    font-size: 22px;
    color:white;
}

.btn{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    border:3px solid white;
    padding: 10px 34px;
    font-size: 20px;
    background: transparent;
    position: relative ;
    cursor: pointer;

}

.btn:hover{
    border:1px solid #647269;
    background: #647269;
    transition: 0.5s;

}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -50px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
} 



:root{
    --white: #d0dad2;
    --text-clr: #13461d;
    --primary: #205a2d;
    --secondary: #072d0f;
    /* --secondary: #c0c1d2; */
    --input-bg: #d0dad2;
    --btn-hvr: #072d0f;
    --tra: rgba(255, 255, 255, 0.959);
    /* --tra: rgba(255, 255, 255, 0.863); */
    --bordcolor:rgba(0, 26, 255, 0.082);
    /* --bordcolor:rgba(51, 61, 148, 0.521); */
    }
    
.wrapper{
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    }
    
    .r_form_wrap{
    width: 500px;
    max-width: 100%;
    }
    
    .r_form_wrap .title{
    padding: 25px;
    background: var(--white);
    border-radius: 3px;
    margin-bottom: 20px;
    
    }
    
    .r_form_wrap .title p{
    font-size: 25px;
    text-align: center;
    font-family: bold;
    }
    
    .r_form{
    padding: 40px;
    border-radius: 3px;
    background: var(--tra);
    }
    
    .r_form .input_wrap{
    width: 100%;
    margin-bottom: 25px;
    }
    
    .r_form .input_wrap label{
    display: block;
    margin-bottom: 5px;
    }
    
    .r_form .input_wrap .input_item{
    position: relative;
    width: 100%;
    }
    
    .r_form .input_wrap .input_item .input{
    width: 100%;
    border-radius: 3px;
    height: 40px;
    border: 2px solid var(--input-bg);
    background: var(--input-bg);
    padding: 10px 20px;
    padding-left: 50px;
    transition: 0.5s ease;
    color: var(--secondary);
    border-color: var(--bordcolor);
    }
    
    .r_form .input_wrap .input_item .input:focus{
    border-color: var(--primary);
    }
    
    .r_form .input_wrap .input_item .icon{
    position: absolute;
    top: 12px;
    left: 20px;
    color: var(--secondary);
    font-size: 16px;
    }
    #icon{
    position: absolute;
    top: 12px;
    left: 20px;
    color: var(--secondary);
    font-size: 16px;
    }
    .mess{
    width: 100%;
    border-radius: 3px;
    height: 250px;
    border: 2px solid var(--input-bg);
    background: var(--input-bg);
    padding: 10px 20px;
    padding-left: 50px;
    transition: 0.5s ease;
    color: var(--secondary);
    border-color: var(--bordcolor);
    }
    .mess:focus{
       border-color: var(--primary);
    }
    .button{
    width: 100%;
    border: 0;
    background: var(--primary);
    padding: 10px;
    border-radius: 3px;
    height: 40px;
    color: var(--white);
    cursor: pointer;
    transition: 0.5s ease;
    }
    
    .button:hover{
    border-color: var(--btn-hvr);
    }
    
    .clear_ad{
       margin-top: 10px;
     width: 100%;
     border: 0;
     background: var(--btn-hvr);
     padding: 10px;
     border-radius: 3px;
     height: 40px;
     color: var(--white);
     cursor: pointer;
     transition: 0.5s ease;
     }
     
       .clear_ad:hover{
     background: var(--primary);
     }
    /* Align items to center of the 'div' with the class 'center' */
    .center {
       text-align: center;
    }
    .none_div{
        height: 100px;
        width: 100px;
    }
    