*{
    margin:0;
    padding:0;
}

body{
    background-color: #f2f2f2;
}

.header {
        min-height: 100vh;
        width:100%;
        background-image: url("cover.png"); 
        background-position:center;
        background-size:cover;
        position:relative;
        opacity: 0.8;
}

nav {
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}

.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-style:crimson text;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#091c12 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width:90%;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin:10px 0 40px;
    font-size: 22px;
    color:white;
}

.btn{ 
    display: inline-block;
    text-decoration: none;
    color: white;
    border:3px solid white;
    padding: 10px 34px;
    font-size: 20px;
    background: transparent;
    position: relative ;
    cursor: pointer;

}

.btn:hover{
    border:1px solid #647269;
    background: #647269;
    transition: 0.5s;

}

/*----- STAFF ------*/

.staff {
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
}

.staff h1{
    font-size: 36px;
    font-weight: 600;
    color:#091c12;
}

.staff p{
    color:#13461d;
    font-size:20px;
    font-weight:300px;
    line-height: 22px;
    padding:20px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.staff-col{
    flex-basis: 47%;
    background: #d0dad2;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.staff-col2{
    
        flex-basis: 31%;
        background: #d0dad2;
        border-radius: 10px;
        margin-bottom:5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }

.staff-col2 img{
    width:100px;
    height:100px;
    border-radius: 10px;
}

.staff-col2:hover{
    box-shadow: 10px 10px 24px 0px #647269;
}

h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}

.staff-col:hover{
    box-shadow: 10px 10px 24px 0px #647269;
}

.staff-col img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: -50px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
} 
